*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Times New Roman', Times, serif ;
    margin: 0;
    background-image: url('../media/cd6cfba191f437ba4ef08beae7af2b31.gif');
    background-size: cover;
    
    
    
    height: 100vh;
    padding:0;
    margin:0;
}



h2{ font-size: 2.7em;}
h3{ font-size: 2em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}


button:hover{
    background-color: rgb(101, 33, 165);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.Problema-container1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;

}

.Problema-container2{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;

}

.Problema-container3{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;

}

.Problema-container4{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;

}

input{
    width: 350px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    border: 0 solid ;
    outline: none;
    font-size: 30px;
    color: green;

}

table{

    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid green;
    font-family: Arial, Helvetica, sans-serif;

}

thead {
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px green;
}
tbody {
    text-align: center;
}

th {
    padding: 8px;
    letter-spacing: 2px;
    text-align: center;
    background: linear-gradient(to bottom), rgba(0,0,0,0.1), rgba(0,0,0,0.5);
    border: 3px solid green;

}
td{
    padding: 8px;
    letter-spacing: 1px;
    text-align: center;
    background: linear-gradient(to bottom), rgba(0,0,0,0.1), rgba(0,0,0,0.5);
    border: 3px solid green;
}

pre{
    border: 1px double green;
    border-radius: 0;
    width: 80%;
    height: 50px;
    text-align: middle;
    color: #def ;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    margin: 10px;
    vertical-align: top;

}